$primary: #818cf8;
$secondary: #4f46e5;
$cards-background: #fdfdfd;
$text-white: white;
$text-black: black;
$background: #fdfdfd;
$background-secondary: #f1f5f9;

$opacity: 0.3;
$low: $primary;
$medium: #facc15;
$high: #f87171;
