@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Edu SA Beginner', cursive;
    min-height: 100vh;
    display: flex;
    font-size: 1.1rem;
}

#app {
    flex: 1;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    grid-template-areas: 
    "nav list";
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: aqua;

    padding: 10px 0;

}

.nav__user-profile, .nav__title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;

    img {
        max-width: 28px;
        border-radius: 50%;
    }
}

.nav__items {
    display: flex;
    flex-direction: column;
    // gap: 30px;
}
.nav__items__views, .nav__items__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
} 
.nav__items__views {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding-bottom: 20px;
}
.nav__items__projects {
    padding-top: 20px;
}

%nav-item {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    padding: 0 15px;
    position: relative;
    height: 35px;

    &:hover {
        background-color: rgba($color: gray, $alpha: 0.3);
    }
}
.nav__item {
    @extend %nav-item;
    justify-content: space-between;
    

    &--selected::before {
        content: '';
        position: absolute;
        background-color: blue;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
    }

    
    &__qty {
        opacity: 0.7;
    }
}
.nav__form {
    @extend %nav-item;
    align-items: center;
    margin: 20px 0;

    input {
        border: none;
        background-color: inherit;
        padding: 5px 5px;
        outline: none;
        &::placeholder {
            color: blue;
            opacity: 1;
        }
        &:focus::placeholder {
            color: gray;
            opacity: initial;
        }
        &:hover {
            background: none;
        }
    }
    i {
        color: blue;
    }

}
input {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
}

.content {
    grid-area: list;
}

