@use './modal';
@use './toast';
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;500;700&display=swap');



* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: flex;
    // font-size: 1.1rem;
}

#app {
    flex: 1;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "list";
    
    @media (min-width: 640px) {
        grid-template-areas: 
        "nav list";
        grid-template-columns: 1.5fr 5fr;
    }
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: aqua;
    padding: 10px 0;
    transition: 0.3s all;
    // min-width: 200px;

    &--hidden {
        position: fixed;
        right: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
    }

    &.nav--hidden.nav--show {
        left: 0;
        right: 5%;
        z-index: 10;
        @media (min-width: 340px) {
            right: 20%;
        }
        @media (min-width: 440px) {
            right: 40%;
        }
        @media (min-width: 540px) {
            right: 60%;
        }

        & + .nav-background {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba($color: #000000, $alpha: 0.3);
            z-index: 5;
            display: block;
        }

    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.nav__user-profile, .nav__title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 15px;

    img {
        max-width: 28px;
        border-radius: 50%;
    }
}

.nav__items {
    display: flex;
    flex-direction: column;
    // gap: 30px;
}
.nav__items__views, .nav__items__projects {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
} 
.nav__items__views {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.3);
    padding-bottom: 20px;
}
.nav__items__projects {
    padding-top: 20px;
}

%nav-item {
    display: flex;
    text-decoration: none;
    color: inherit;
    align-items: center;
    padding: 5px 15px;
    position: relative;
    

    &:hover {
        background-color: rgba($color: gray, $alpha: 0.3);
    }
}
.nav__item {
    @extend %nav-item;
    justify-content: space-between;
    
    

    &--selected::before {
        content: '';
        position: absolute;
        background-color: blue;
        left: 0;
        top: 0;
        bottom: 0;
        width: 4px;
    }

    &__title {
        display: flex;
        gap: 5px;
        align-items: center;
        overflow-wrap: break-word;
        word-break: break-all;
    }
    &__qty {
        opacity: 0.7;
    }
}
%transparent-input {
    border: none;
    background-color: inherit;
    padding: 5px 5px;
    outline: none;
    min-width: 100px;
    &::placeholder {
        color: blue;
        opacity: 1;
    }
    &:focus::placeholder {
        color: gray;
        opacity: initial;
    }
    &:hover {
        background: none;
    }
}
.nav__form {
    @extend %nav-item;
    align-items: center;
    margin: 20px 0;

    input {
        @extend %transparent-input;
    }
    i {
        color: blue;
    }

}
input, button {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    font-family: inherit;
}

.content {
    grid-area: list;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        
        h1 {
            font-size: 1.5rem;
            overflow-wrap: break-word;
            word-break: break-all;
        }
    }
}
.nav-toggle {
        display: none;
        background: none;
        border: none;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        place-content: center;
        cursor: pointer;
        &:hover {
            background-color: skyblue;
        }
        &.show {
            display: grid;
        }
}
.header__title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__options {
    button {
        padding: 5px 10px;
        background: none;
        border: none;
        border-radius: 10px;
        &:hover {
            background-color: rgba($color: blue, $alpha: 0.5);
        }
    }
}
.task-form {
    border-radius: 10px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    // form {
    //     display: flex;
    //     flex-direction: column;
    //     gap: 5px;
    //     margin-top: 10px;

        footer {
            display: flex;
            justify-content: space-between;
            margin: 15px 0 0;
            padding: 10px;
            background-color: rgba($color: gray, $alpha: 0.3);
            button {
                background: none;
                border: none;
                padding: 5px 10px;
                &:hover {
                    background-color: gray;
                    color: white;
                }
            }
        }
    // }

    // input[type="date"]::-webkit-inner-spin-button,
    input[type="date"] {
        font: inherit;
    }
    input {
        @extend %transparent-input;
        // width: 100%;
        flex: 1;
    }

    input[type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

    input[type="radio"] {
        width: auto;
        position: fixed;
        opacity: 0;
        pointer-events: none;
        &:checked + label{
            &.priority-low{
                background-color: rgba($color: blue, $alpha: 0.3);
            }
            &.priority-medium{
                background-color: rgba($color: yellow, $alpha: 0.3);
            }
            &.priority-high{
                background-color: rgba($color: red, $alpha: 0.3);
            }
            
        }
    }

    i {
        min-width: 20px;
        color: blue;
        text-align: center;
    }
    label {
        padding: 5px;
    }
}
.form-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;
    margin: 0 10px;
    

    &-radio {
        margin: 10px 0;
        label {
            padding: 3px 12px;
            border: 1px solid black;
            border-radius: 15px;
            cursor: pointer;
            &.priority-low {
                border-color: blue;
            }
            &.priority-medium {
                border-color: yellow;
            }
            &.priority-high {
                border-color: red;
            }
        }
    }
}

.tasks {
    display: grid;
    gap: 15px;
    
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);

    @media (min-width: 300px) {
        flex-direction: row;
    }

    &__name {
        flex: 1;
        overflow-wrap: break-word;
        word-break: break-all;
        // text-overflow: ellipsis;
        // white-space: nowrap;
    }
    
    &--done {
        .task__name {
            opacity: 0.6;
            text-decoration: line-through;
            
        }
    }

    input[type="checkbox"] {
        appearance: none;
        background-color: inherit;
        margin: 0;
        font: inherit;
        color: currentColor;
        border: 1px solid black;
        border-radius: 50%;
        cursor: pointer;
        width: 1em;
        height: 1em;
        display: grid;
        place-content: center;

        &::before {
            content: '';
            width: 0.5em;
            height: 0.5em;
            transform: scale(0);
            transition: 120ms transform ease-in-out;
            box-shadow: inset 1em 1em blue;
            border-radius: 50%;
        }
        &:checked::before {
            transform: scale(1);
        }
    }

    &__options {
        button {
            padding: 7px;
            width: 30px;
            height: 30px;
            background: none;
            border: none;
            border-radius: 50%;
            &:hover {
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
        }
        i {
            pointer-events: none;
        }
    }

}

